<tr data-target="toggle<%= @idx %>" data-jsonFile="files/json/<%= @config[:filename] %>_<%= @idx %>.json">
  <td title="idx"><%= @idx %></td>
  <td data-score="<%= overall_score %>"><div class="ratings"><div class="empty-stars"></div><div class="full-stars" style="width:<%= overall_score * 0.85 %>%;"></div></div></td>
  <td title="Definition"><%= @prediction_def %></td>
  <td title="No. Hits"><%= @nr_hits %></td>
<% @validations.each do |item| %>
  <td title="<%=item.header%>" class="<%=item.color%>"><%= item.print%></td>
<% end %>
<% if @validations.select{|item| item.plot_files != nil}.map{|item| item.plot_files.length}.inject(0){|r, e| r+e } != 0 %>
  <td><button title="Show plots" class="plot_btn btn btn-default"><i class="fa fa-bar-chart-o"></i></button></td>
<% else %>
  <td></td>
<% end %>
</tr>