<tr>
  <td><%= @idx %></td>
  <td data-score="<%= overall_score %>"><div class="ratings"><div class="empty-stars"></div><div class="full-stars" style="width:<%= overall_score * 0.85 %>%;"></div></div></td>
  <td title="Identifier"><%= @prediction_def.scan(/([^ ]+)/)[0][0] %></td>
  <td title="Description"><%= @prediction_def.scan(/([^ ]+)(.*)/)[0][1] %></td>
  <td title="No. Hits"><%= @nr_hits %></td>
<% @validations.each do |item| %>
<% if item.plot_files != nil %>
<td title="<%=item.header%>" class="<%=item.color%> my-btn-<%=item.color%>" onclick="showDiv(this, '<%= toggle %>');
<% item.plot_files.each do |plot| %>
addPlot('<%= toggle %>', 'files/json/<%= plot.filename %>', '<%= plot.type %>', '<%= plot.title %>', '<%= plot.footer %>', '<%= plot.xtitle %>', '<%= plot.ytitle %>', '<%= plot.aux1 %>', '<%= plot.aux2 %>');
<% end %>">
<%if item.print.match(/TOO_/)!=nil%>
<%= item.print.downcase.gsub('_',' ') %></td>
<%else%>
<%= item.print%></td>
<%end%>
<% else %>
<%if item.print.match(/TOO_/)!=nil%>
<td title="<%=item.header%>" class="<%=item.color%>"><%= item.print.downcase.gsub('_',' ') %></td>
<%else%>
<td title="<%=item.header%>" class="<%=item.color%>"><%= item.print%></td>
<%end%>
<% end %>
<% end %>
<% if @validations.select{|item| item.plot_files != nil}.map{|item| item.plot_files.length}.inject(0){|r, e| r+e } != 0 %>
  <td>
      <button title="Show plots" name="plot_btn" class="plot_btn btn btn-default" onclick="showDiv(this, '<%= toggle %>');
      <% @validations.each do |item| %>
        <% if item.plot_files != nil %>
          <% item.plot_files.each do |plot| %> addPlot('<%= toggle %>', 'files/json/<%= plot.filename %>', '<%= plot.type %>', '<%= plot.title %>', '<%= plot.footer %>', '<%= plot.xtitle %>', '<%= plot.ytitle %>', '<%= plot.aux1 %>', '<%= plot.aux2 %>');<% end %>
        <% end %>
      <% end %>"><i class="fa fa-bar-chart-o"></i></button>
  </td>
</tr>
<tr class="tablesorter-childRow" name="plot_row" style="display:none;">
  <td colspan="<%=validations.length + 7%>">
      <div id="<%=toggle%>" class="expanded-child"></div>
  </td>
</tr>
<% else %>
<td></td>
<tr class="tablesorter-childRow" style="display:none;">
  <td colspan="<%=validations.length + 7%>">
      <div></div>
  </td>
</tr>
<% end %>