
</tbody>
</table>
</div>
<script>

  var evaluation_div = document.getElementById('report_1');

  var content_less = "<br><%= less %> <br> <a style='cursor: pointer;' onClick='add_content()'> Display the rest of the report >> </a>";
  var content = "<%= evaluation %> <br> <a style='cursor: pointer;' onClick='evaluation_div.innerHTML=content_less'> << Display less </a>";

    evaluation_div.innerHTML = content_less;
  //addPlot('report_1', '<%= plot_statistics.filename %>', '<%= plot_statistics.type %>', '<%= plot_statistics.title %>', '<%= plot_statistics.footer %>', '<%= plot_statistics.xtitle %>', '<%= plot_statistics.ytitle %>');

  function add_content(){
    evaluation_div = document.getElementById('report_1')
    evaluation_div.innerHTML=content; 
    addPlot('report_1', '<%= plot_statistics.filename %>', '<%= plot_statistics.type %>', '<%= plot_statistics.title %>', '<%= plot_statistics.footer %>', '<%= plot_statistics.xtitle %>', '<%= plot_statistics.ytitle %>');
  }

</script>


    <div aria-hidden="true" aria-labelledby="myModalLabel3" class="modal" id="spinner1" role="dialog" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body text-center">
            <h2>Loading ...</h2>
            <i class="fa fa-spinner fa-5x fa-spin"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="alert" aria-hidden="true" aria-labelledby="myModalLabel5" role="dialog" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">Oops, Something went wrong!</h4>
          </div>
          <div class="modal-body">
            <p>This operation is not posible. There seems to be too many queries...</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

</div>
</body>

</html>