</tbody>
</table>
<script>
  var evaluation_div = document.getElementById('report_1');
  var content_less = "<br><%= less %><div class=\"clearfix\"></div><br><button type=\"button\" onClick='add_content()' class=\"btn btn-primary btn-sm\"> Show More</button>";
  var content = "<%= evaluation %> <div class=\"clearfix\"></div><br><button type=\"button\" onClick='evaluation_div.innerHTML=content_less' class=\"btn btn-primary btn-sm\"> Show Less</button>";
  evaluation_div.innerHTML = content_less;
  function add_content(){
    evaluation_div = document.getElementById('report_1')
    evaluation_div.innerHTML=content;
    addPlot('report_1', '<%= plot_statistics.filename %>', '<%= plot_statistics.type %>', '<%= plot_statistics.title %>', '<%= plot_statistics.footer %>', '<%= plot_statistics.xtitle %>', '<%= plot_statistics.ytitle %>');
  }
</script>
    <div aria-hidden="true" aria-labelledby="myModalLabel3" class="modal" id="spinner1" role="dialog" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body text-center">
            <h2>Loading ...</h2>
            <i class="fa fa-spinner fa-5x fa-spin"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="alert" aria-hidden="true" aria-labelledby="myModalLabel5" role="dialog" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">Oops, Something went wrong!</h4>
          </div>
          <div class="modal-body">
            <p>This operation is not posible. There seems to be too many queries...</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="browseralert" aria-hidden="true" aria-labelledby="browser" role="dialog" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content browser-alert">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">Incompatible Browser - Please use Mozilla Firefox!</h4>
          </div>
          <div class="modal-body" id="browseralertbody">
            <p id="browseralertText">The plugin that we use to display the validation plots means that your browser is currently unsupported.</p>
            <p>Please use <strong>Mozilla FireFox</strong> to view this file.</p>
          </div>
        </div>
      </div>
    </div>

</div>

<footer >
  <div class="container center-block">
  <p class="text-muted text-center">Please cite: "Dragan M, Moghul MI, Priyam A & Wurm Y <em>(in prep)</em> GeneValidator: identify problematic gene predictions"<br/>
  Developed at <a href="http://yannick.poulet.org" target="_blank">Wurm Lab</a>, <a href="http://www.sbcs.qmul.ac.uk" target="_blank">QMUL</a> with funding by <a href="http://www.bbsrc.ac.uk/home/home.aspx" target="_blank">BBSRC</a> and <a href="https://www.google-melange.com/gsoc/homepage/google/gsoc2013" target="_blank">Google Summer of Code 2013</a><br/>
  This page was created by <a href="https://github.com/monicadragan/GeneValidator" target="_blank" >GeneValidator</a> v<%= GeneValidator::VERSION %></p>
  </div>
</footer>

</body>
</html>