<tr> 
	<td><%= @idx %></td>
	<td class="<%=bg_icon%>"> <%= overall_score %>% </td>		
	<td><div name="ranking" score='<%= overall_score %>'></div></td>
	<td title="Identifier"><%= @prediction_def.scan(/([^ ]+)/)[0][0] %></td>
	<td title="Description"><%= @prediction_def.scan(/([^ ]+)(.*)/)[0][1] %></td>		
	<td title="No. Hits"><%= @nr_hits %></td>
	<% @validations.each do |item| %>	    
   	    <% if item.plot_files != nil %>
	   	    <td  title='<%=item.header%>' class="<%=item.color%> my-btn-<%=item.color%>" onclick="
		showDiv(this, '<%= toggle %>');
		<% item.plot_files.each do |plot| %>  			
  		addPlot('<%= toggle %>', '<%= plot.filename %>', '<%= plot.type %>', '<%= plot.title %>', '<%= plot.footer %>', '<%= plot.xtitle %>', '<%= plot.ytitle %>', '<%= plot.aux1 %>', '<%= plot.aux2 %>');
             	<% end %> "><%if item.print.match(/TOO_/)!=nil%><%= item.print.downcase.gsub('_',' ') %><%else%><%= item.print%><%end%></td> 	
  	    <% else %>
  		    <td title='<%=item.header%>' class = <%=item.color%>><%if item.print.match(/TOO_/)!=nil%><%= item.print.downcase.gsub('_',' ') %><%else%><%= item.print%><%end%></td>
            <%end%>
	<% end %>
	<td>
 <% if @validations.select{|item| item.plot_files != nil}.map{|item| item.plot_files.length}.inject(0){|r, e| r+e } != 0 %>	    
	<button title="Show plots" class="btn" onclick="

	    showDiv(this, '<%= toggle %>');
	    <% @validations.each do |item| 
	    if item.plot_files  != nil %>
		<% item.plot_files.each do |plot| %>  			
  		addPlot('<%= toggle %>', '<%= plot.filename %>', '<%= plot.type %>', '<%= plot.title %>', '<%= plot.footer %>', '<%= plot.xtitle %>', '<%= plot.ytitle %>', '<%= plot.aux1 %>', '<%= plot.aux2 %>');
             	<% end end end%>  	         
	    ">			 			 
    	    <i class="icon-bar-chart"></i></button>
        </td>
</tr>
<tr class="expand-child">
    <td  colspan=<%=validations.length + 7%>>
	<div id=<%=toggle%> style='display:none; text-align: center'></div>
<% end %>
        </td>
</tr>

